.word-element {
  display: inline-block;
  margin: 6px;
}

.words-container {
  border: 4px solid green;
}

#history-box {
  display: none;
  overflow: scroll;
  height: 300px;
  margin-bottom: 20px;
}

#history-wrapper {
  height: 1000px;
  overflow-y: scroll;
}

