<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>List</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
</head>
<body>
<h1>List Templates</h1>

<!--Navigator-->
<a th:unless="${currentTemplate == 'read'}" th:href="@{'/'+ 'read'}">Read</a>
<a th:unless="${currentTemplate == 'status'}" th:href="@{'/'+ 'status'}">Status</a>
<a th:unless="${currentTemplate == 'list'}" th:href="@{'/'+ 'list'}">List</a>


<!--User information-->
<table>
  <tbody>
  <tr>
    <td>Logged UserId</td>
    <td>[[${user.id}]]</td>
  </tr>
  <tr>
    <td>Logged Role</td>
    <td>[[${userDetail.authorities[0]}]]</td>
  <tr>
    <td>Logged UserName</td>
    <td>[[${userDetail.username}]]</td>
  <tr>
    <td>Logged UserPassword</td>
    <td>[[${userDetail.password}]]</td>
  </tr>
  </tbody>
</table>

<!--List of words-->
<table class="words-table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Gender</th>
    <th>AggCount</th>
    <th>Words</th>
  </tr>
  </thead>
  <tbody id="words" class="words-container"></tbody>
</table>

<!--Dev Usage-->
<div id="history-box">
  <div id="history-wrapper">
    <div class="events"></div>
  </div>
</div>

<script type="text/javascript" th:src="@{/js/common.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/js/list.js}" charset="utf-8"></script>
<script>
  window.addEventListener('DOMContentLoaded', e => {
    let userId = [[${user.id}]],
        userGender = '[[${user.gender}]]',
        wordsAnchor = document.getElementById('words'),
        currentUserAggCount;

    fetchAllWordsByUserAccountPromise(userId)
    .then(response => {
      let userMap = response.reduce(getAccumulator(), new Map());
      currentUserAggCount = (userMap.get(userId) || {aggCount: 0}).aggCount;
      return userMap;
    })
    .then(response => response.values())
    .then(response => [...response])
    .then(response => response.sort(getCompareTo(currentUserAggCount, userGender)))
    .then(response => response.map(getWordDomDecorator()))
    .then(response => response.forEach(w => document.getElementById('words').append(w)));

    var ws = new WebSocket('ws://localhost:8080/ws/words');
    ws.onopen = () => events('Opening connection');
    ws.onclose = () => events('Closing connection');
    ws.onerror = () => events('An error occured');
    ws.onmessage = response => {

      let jsonObject = JSON.parse(response.data),
          currentUserAggCount;

      new Promise(res => {
        while (!!wordsAnchor.firstChild) {
          wordsAnchor.removeChild(wordsAnchor.firstChild);
        }
        return res(jsonObject.words);
      })
      .then(response => {
        let userMap = response.reduce(getAccumulator(), new Map());
        currentUserAggCount = (userMap.get(userId) || {aggCount: 0}).aggCount;
        return userMap;
      })
      .then(response => response.values())
      .then(response => [...response])
      .then(response => response.sort(getCompareTo(currentUserAggCount, userGender)))
      .then(response => response.map(getWordDomDecorator()))
      .then(response => response.forEach(w => document.getElementById('words').append(w)));
    };

    function events(responseEvent) {
      document.querySelector('.events').innerHTML += responseEvent + '<br>';
      // document.querySelector('.events').innerHTML = responseEvent + '<br>';
    }
  });
</script>
</body>
</html>