<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Read</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
</head>
<body>
<h1>Read Templates</h1>

<!--Navigator-->
<a th:unless="${currentTemplate == 'read'}" th:href="@{'/'+ 'read'}">Read</a>
<a th:unless="${currentTemplate == 'status'}" th:href="@{'/'+ 'status'}">Status</a>
<a th:unless="${currentTemplate == 'list'}" th:href="@{'/'+ 'list'}">List</a>

<!--User information-->
<table>
  <tbody>
  <tr>
    <td>Logged UserId</td>
    <td>[[${user.id}]]</td>
  </tr>
  <tr>
    <td>Logged Role</td>
    <td>[[${userDetail.authorities[0]}]]</td>
  <tr>
    <td>Logged UserName</td>
    <td>[[${userDetail.username}]]</td>
  <tr>
    <td>Logged UserPassword</td>
    <td>[[${userDetail.password}]]</td>
  </tr>
  </tbody>
</table>

<!--List of words-->
<div id="words" class="words-container"></div>

<!--Dev Usage-->
<div id="history-box">
  <div id="history-wrapper">
    <div class="events"></div>
  </div>
</div>

<script type="text/javascript" th:src="@{/js/common.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/js/read.js}" charset="utf-8"></script>
<script>
  window.addEventListener('DOMContentLoaded', e => {
    let userId = [[${user.id}]],
        gender = '[[${user.gender}]]',
        userName = '[[${user.account}]]',
        sentences = getSentencesArray(),
        randomIndex = sentences[Math.floor(Math.random() * sentences.length)],
        wordElements = getWordElements(randomIndex, userId, gender, userName);

    wordElements.forEach(w => document.getElementById('words').append(w));

    initWordCountRecord(userId);

    var ws = new WebSocket('ws://localhost:8080/ws/word');
    ws.onopen = () => events('Opening connection');
    ws.onclose = () => events('Closing connection');
    ws.onerror = () => events('An error occured');
    ws.onmessage = response => {
      let jsonObject = JSON.parse(response.data),
          changedWord = document.querySelectorAll('span[id^="' + jsonObject.key + '"]')[0];
      if (!!changedWord) {
        changedWord.innerHTML = jsonObject.count;
      }

      events('key: ' + jsonObject.key + ' count:' + jsonObject.count);
    };

    function events(responseEvent) {
      document.querySelector('.events').innerHTML += responseEvent + '<br>';
      // document.querySelector('.events').innerHTML = responseEvent + '<br>';
    }
  });
</script>
</body>

</html>